<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main">
        {{>header}}
        <div class="portrait"><img src="/images/download.jpeg" alt="mario"></div>
    </div>
    {{>footer}}
</body>
</html>