<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <h5>Please provide your location to get the weather info</h5>
        <form id="searchForm">
        <input type="text" placeholder="Location" id="textInput">
        <button id="searchBtn">Search</button>
    </form>
    <p class="location-info"></p>
    <p class="weather-info"></p>
    </div>
    
    {{>footer}}
    <script src="/javascripts/app.js"></script>
</body>

</html>