button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding:0 16px;
    font-size:24px;
}


nav{
    margin-bottom: 40px;
}


a{
    text-decoration: none;
    color: grey;
    font-weight: 800;
    padding-right: 20px;
}

h1{
    font-size: 64px;
}

.weather-info{
    font-size:16px;
}

.red{
    color: red;
}

.main{
    flex-grow:1;
}

form{
    padding-left: 10px;
}

input{
    padding:8px;
    width:280px;
    border:5px solid rgb(175, 216, 253);
    border-radius:5px;
}

button{
    margin-left:10px;
    padding:10px 20px;
    color: white;
    background-color: rgb(65, 65, 173);
    border-radius: 4px;
    font-size: 18px;
}

.footer{
    padding-top:30px;
    border-top:2px solid grey;
    color: #888888;
}

img{
    width: 30vw;
}

@media(min-width:769px){
    body{
    max-width:600px;
    }
}